body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    padding-top: constant(safe-area-inset-top);
    /* iOS 11.0 */
    padding-top: env(safe-area-inset-top);
    /* iOS 11.2 */
    background-color: grey !important;
}

.clsPwaApp .sapMShellBrandingBar {
    visibility: hidden;
}

.clsPwaApp .clsAppTitle span {
    font-family: 'Shadows Into Light Two', cursive;
}

.clsPwaApp .clsPwaFooter {
    margin-bottom: constant(safe-area-inset-bottom);
    /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom);
    /* iOS 11.2 */
}

.clsPwaApp .sapMPageSubHeader {
    background: #aaa;
}

.clsPwaApp .sapMPageSubHeader .sapMSubHeader-CTX {
    background-color: #eff4f900;
}